<form *ngIf="showAddTask" class="add-form" (ngSubmit)="(onSubmit())">
    <div class="mb-3">
        <label for="text" class="form-label">Task</label>
        <input type="text" name="text" class="form-control" id="text" placeholder="add task" [(ngModel)]="text">
      </div>
      <div class="mb-3">
        <label for="day" class="form-label">Date & Time</label>
        <input type="text" name="day" class="form-control" id="day" placeholder="add date & time" [(ngModel)]="day" >
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" name="reminder"  role="switch" id="reminder" [(ngModel)]="reminder">
        <label class="form-check-label" for="reminder" >Set reminder</label>
      </div>
      <!-- <div class="mb-3">
        <label for="reminder" class="form-label">Set Reminder</label>
        <input type="checkbox" class="form-control" id="reminder" placeholder="name@example.com">
      </div>
    <div class="form-control">
        <label for="text">Task</label>
        <input type="text" name="text" id="text" placeholder="add task" [(ngModel)]="text" />   
    </div>
    <div class="form-control">
        <label for="day">date & time</label>
        <input type="text" name="day" id="day" placeholder="add date & time" [(ngModel)]="day" />   
    </div>
    <div class="form-control form-control-ckeck">
        <label for="day">Set Reminder</label>
        <input type="checkbox" name="reminder" id="reminder" placeholder="Set reminder" [(ngModel)]="reminder"/>   
    </div> -->

    <div class="text-center mb-3">
    <button type="submit" class="btn btn-primary">Save Task</button>
    </div>

</form>
